*{
  margin:0px;
  padding:0px;
  background-color: rgb(46, 1, 30);
  
}
h1{
  text-align: center;
  background-color:rgb(1, 20, 60);
  color:white;
  margin:0px;
  margin-bottom:20px;
  padding:20px;

}

.choice{
  height:200px;
  width:200px;
  display:flex;
  justify-content: center;
  align-items: center;
  ;

}
.choice:hover{
  cursor:pointer;
  background-color: rgb(0, 0, 128);
  border-radius: 70%;
  
}
img{
  height:100px;
  background-color: aqua;
  border:2px solid black;
  color:blue;
  ;
  
  
}
.choices{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:3em;

}
p{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
  font-style: bold;


}
.score-card{
  display:flex;
  justify-content: center;
  gap:4em;
  font-style: bold;
  font-size: 2rem;

}
#score,
#computer-score{
font-size:4rem;
  color:red;
  font-style: bold;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  
}
.message-container{
  margin-top: 5em;
}

#message{
  background-color: rgb(1, 20, 60);
  color:white;
  font-size: 2rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  margin-top:2em;
  display: inline;
  margin-left: 38%;
  

  
}
#you{
  font-size: 2.5rem;
  color: rgb(0, 0, 128);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  
}
#user-score{
  font-size: 4rem;
  color:blue;
}

#computer3{
  color:red;
  font-style: bold;
}